.sponsors {
    display: flex;
    justify-content: space-between;

    .sponsor {
        width: ~'calc(100% / 3 - 8px)';

        .sponsor__image {
            padding-bottom: 66%;
            height: 0;
            background-position: 50% 50%;
            background-size: cover;
            background-color: #ddd;
            margin-bottom: 20px;
        }

        .sponsor__content {
            min-height: 140px;

            p {

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .sponsor__title {
            font-weight: 700;
        }

        .sponsor__logo {
            height: 60px;
            margin-bottom: 10px;

            img {
                max-width: 100%;
            }

            svg {

                path, polygon {
                    fill: #000;
                }


            }
        }

        .sponsor__text {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 768px) {

        display: block;

        .sponsor {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}


