.sponsors {
    display: flex;
    justify-content: space-between;

    .sponsor {
        width: ~'calc(100% / 3 - 8px)';

        .sponsor__logo {
            height: 60px;
            margin-bottom: 10px;

            svg {

                path, polygon {
                    fill: #000;
                }


            }
        }

        .sponsor__text {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 768px) {

        display: block;

        .sponsor {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}


