#top-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    height: 60px;
    background: transparent;
    transition: all 0.5s ease;

    &.scrolled {
        background: rgba(0,0,0,0.8);
    }
}

body.menu-active {
    overflow: hidden;
}


#top-bar-mini-logo {
    display: none;
}
