h1 {
    margin-top: 0;
    font-weight: 900;
    font-size: 40px;
}

h3 {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    color: @yellow;
}

.intro {
    font-size: 24px;
    font-weight: 700;
}


.stronglink,
.downloads a {
    color: @yellow;
    text-decoration: none;
    border-bottom: 2px solid @yellow;
    margin-bottom: 12px;

    &:hover {
        color: #000;
        border-bottom: 2px solid #000;
    }
}